# Ignorar dependencias
node_modules/
frontend/node_modules/
backend/node_modules/
firebaseConfig.js

# Archivos de logs
*.log

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de compilación
build/
dist/
.expo/
.expo-shared/

# Archivos del sistema
.DS_Store
Thumbs.db
